.nav{
    background-color: aquamarine;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(174, 23, 23);
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
}

.nav li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    margin: 5px;
    
  }

  li a:hover {
    color: #7e7d7d;
  }

  .nav button{
     color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(36, 36, 36); 
   
    border: 2px solid #555555;
    border-radius: 10px;
  }