@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
body {
  margin: 0;
  
    font-family: 'El Messiri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
